MEMORY {
    # BSS
    DIRECT:     start = $0000,  size = $0100,   type = rw;
    SYSTEM:     start = $0200,  size = $0600,   type = rw;

    # ROM
    PROGRAM:    start = $8000,  size = $1000,   type = ro,  file = %O,  fill = yes, fillval = $00;
}


SEGMENTS {
    Direct:     load = DIRECT,  type = bss, define = yes,   align = $0100;
    System:     load = SYSTEM,  type = bss, define = yes,   align = $0100;
    Program:    load = PROGRAM, type = ro,  define = yes,   align = $0100;  
    Vectors:    load = PROGRAM, type = ro,  define = yes,   start = $8ffa;    
}

FILES {
    %O: format = bin;
}
